body {
    font-family: Open Sans, Arial;
    font: 100%/1.5 system-ui;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
    color: #454545;
}
h1 {
    margin: 0;
}

#info { /* the slider */
    align-items: baseline;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 1;
} #info input[type="range"] { width: 400px; }

#any-time {
    align-items: baseline;
    margin-left: auto;
    color: #666;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 1.2;
    font-style: italic;
}

#selected-time {
    align-items: baseline;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0px;
    line-height: 1.2;
}